// Base

body,
html {
	width: 100%;
	// height: 100%;
	font-family:$body-font;
	color: $black-one;
	font-weight: 300;
	letter-spacing: 0.5px;
	font-size: 18px;
}

.h1{
	font-family: $heading-font;
	font-size: 45px;
	letter-spacing: 8px;
	font-weight: 100;
}
.h2{

}
.h3{
	font-family: $heading-font;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 100;
}
p{
	font-weight: 300;
}


img{
	max-width: 100%;
}

cite{
	font-family: $heading-font;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-style: normal;
}
ul{
	// font-size: 16px;

}

.float-left{
	float:left;
}

.float-right{
	float:right;
}
.text-center{
	text-align:center;
}
.text-right{
	text-align:right;
}
.text-left{
	text-align:left;
}
.lead{
	font-family: $body-font;
	// font-weight: 500;
	line-height: 1.5;
	color: $black-one;
}

.big {
	font-family: $heading-font;
	font-size: 30px;
	line-height: 1.5;
}


.sg-grid{
	background-color: $grey-two;
	text-align: center;
	margin-bottom: 30px;
	padding: 10px 0
}

.grey-seven{
	color:$grey-seven;
}

@for $i from 1 through 20 {
   .pull-#{$i*10} {
    	margin-top: -10px * $i;
    	padding-top: 10px * $i;
	}

   .push-#{$i*10} {
    	margin-top: 10px * $i;
	}


   .shove-#{$i*10} {
    	margin-bottom: 10px * $i;
	}


   .pad-b-#{$i*10} {
    	padding-bottom: 10px * $i;
	}

	.pad-t-#{$i*10} {
    	padding-top: 10px * $i;
	}

	.pad-l-#{$i*10} {
    	padding-left: 10px * $i;
	}

	.pad-r-#{$i*10} {
    	padding-right: 10px * $i;
	}
}
// @media screen and (min-width:544px){
// 	@for $i from 1 through 20 {
// 	   .pull-sm-#{$i*10} {
// 	    	margin-top: -10px * $i;
// 	    	padding-top: 10px * $i;
// 		}

// 	   .push-sm-#{$i*10} {
// 	    	margin-top: 10px * $i;
// 		}

// 	   .shove-sm-#{$i*10} {
// 	    	margin-bottom: 10px * $i;
// 		}

// 	   .pad-sm-b-#{$i*10} {
// 	    	padding-bottom: 10px * $i;
// 		}

// 		.pad-sm-t-#{$i*10} {
// 	    	padding-top: 10px * $i;
// 		}

// 		.pad-sm-l-#{$i*10} {
// 	    	padding-left: 10px * $i;
// 		}

// 		.pad-sm-r-#{$i*10} {
// 	    	padding-right: 10px * $i;
// 		}
// 	}
// }
@media screen and (min-width:768px){
	@for $i from 1 through 20 {
	   .pull-md-#{$i*10} {
	    	margin-top: -10px * $i;
	    	padding-top: 10px * $i;
		}

	   .push-md-#{$i*10} {
	    	margin-top: 10px * $i;
		}

	   .shove-md-#{$i*10} {
	    	margin-bottom: 10px * $i;
		}

	   .pad-md-b-#{$i*10} {
	    	padding-bottom: 10px * $i;
		}

		.pad-md-t-#{$i*10} {
	    	padding-top: 10px * $i;
		}

		.pad-md-l-#{$i*10} {
	    	padding-left: 10px * $i;
		}

		.pad-md-r-#{$i*10} {
	    	padding-right: 10px * $i;
		}
	}
}
@media screen and (min-width:992px){
	@for $i from 1 through 20 {
	   .pull-lg-#{$i*10} {
	    	margin-top: -10px * $i;
	    	padding-top: 10px * $i;
		}

	   .push-lg-#{$i*10} {
	    	margin-top: 10px * $i;
		}

	   .shove-lg-#{$i*10} {
	    	margin-bottom: 10px * $i;
		}

	   .pad-lg-b-#{$i*10} {
	    	padding-bottom: 10px * $i;
		}

		.pad-lg-t-#{$i*10} {
	    	padding-top: 10px * $i;
		}

		.pad-lg-l-#{$i*10} {
	    	padding-left: 10px * $i;
		}

		.pad-lg-r-#{$i*10} {
	    	padding-right: 10px * $i;
		}
	}
}
// @media screen and (min-width:1200px){
// 	@for $i from 1 through 20 {
// 	   .pull-xl-#{$i*10} {
// 	    	margin-top: -10px * $i;
// 	    	padding-top: 10px * $i;
// 		}

// 	   .push-xl-#{$i*10} {
// 	    	margin-top: 10px * $i;
// 		}

// 	   .shove-xl-#{$i*10} {
// 	    	margin-bottom: 10px * $i;
// 		}

// 	   .pad-xl-b-#{$i*10} {
// 	    	padding-bottom: 10px * $i;
// 		}

// 		.pad-xl-t-#{$i*10} {
// 	    	padding-top: 10px * $i;
// 		}

// 		.pad-xl-l-#{$i*10} {
// 	    	padding-left: 10px * $i;
// 		}

// 		.pad-xl-r-#{$i*10} {
// 	    	padding-right: 10px * $i;
// 		}
// 	}
// }