// Variables
$white: #ffffff;
$black: #000000;
$black-one: #1d1d1b;
$blue: #0594c2;
$light-blue: #e4f4fa;
$dark-blue: #143658;
$green-blue: #4bbccb;
$red: #e10f21;
$grey: #b5b5a9;
$grey-two: #ececec;
$grey-three: #dfdfdf;
$grey-four: #d8d8d8;
$grey-five: #9d9d9c;
$grey-six: #979797;
$grey-seven: #c3c3c3;

$heading-font: "fortescue-pro";
$heading-font-bold: "fortescue-pro-bold";
$body-font: "niveau-grotesk";

$cases: 'medicrea', 'onego';
$medicrea-color: #0594c2;
$medicrea-color-alt: #143658;
$onego-color: #ffc529;
$airbnb-color: #00d1c1;