---
title: Home
layout: default.hbs
---
<main>
	<section class="home-intro">
		<div class="container">
			<div class="home-intro-copy">
				<img src="/img/home-graphic.png" class="wow animated fadeInLeftSmall" data-wow-delay="0.35s" alt="">
				<p class="big push-60 wow animated fadeInUpSmall" data-wow-delay="0.35s">Yonji is an interactive designer based in New York City. Formerly a <span>producer</span>, she now focuses on creating <span>web &amp; mobile experiences</span>.</p>
				<h3 class="h3 wow animated fadeInUpSmall push-40" data-wow-delay="0.55s">Get In Touch</h3>
				<p class="wow animated fadeInUpSmall" data-wow-delay="0.7s"><a href="mailto:heyyonji@gmail.com">heyyonji@gmail.com</a></p>
			</div>
		</div>
	</section>

	<section class="home-projects">
		<div class="container">
			<div class="row flex-items-sm-around flex-items-xs-middle">
				<div class="col-md">
					<p class="big wow animated fadeInLeftSmall" data-wow-delay="0.2s">I’ve been lucky to have worked with startups and multi-million dollar companies. I enjoy working in teams, as well as taking on solo commissions. </p>
				</div>
				<div class="col-md">
					<div class="row flex-items-sm-around">
						<div class="col-md">
							<a href="/case-study/medicrea.html"><img src="/img/medicrea/nav-medicrea.jpg" class="wow animated fadeInUpSmall" data-wow-delay="0.5s" alt=""></a>
						</div>
						<div class="col-md">
							<a href="/case-study/onego.html"><img src="/img/onego/nav-onego.jpg" class="wow animated fadeInDownSmall" data-wow-delay="0.5s"  alt=""></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer class="home-footer wow animated fadeInUpSmall">
		<p>&copy; 2016 Yonji Kim</p>
	</footer>
</main>
