---
title: Home
layout: default.hbs
---
<main>
	<section class="homepage-intro">
		<!-- <section class="wow animated fadeInUpSmall" data-wow-delay="0.25s"> -->
		<section>
			<div class="letters">

				<div class="h1 letter y">Y</div>
		<!-- 		<div class="h1 letter o">O</div>
				<div class="h1 letter n">N</div>
				<div class="h1 letter j">J</div>
				<div class="h1 letter i">I</div>
				<div class="h1 letter k">K</div>
				<div class="h1 letter i">I</div>
				<div class="h1 letter m">M</div> -->
			</div>
			<div class="container">
				<div class="row flex-items-sm-around">
					<div class="col-md-14 col-xl-8">

						<div class="">


							<!-- <h1 class="h1 ">Yonji Kim</h1> -->
							<p class="big">is my name, and i'm an interactive designer based in New York City. Formerly a producer and strategist, I now focus on creating web &amp; mobile experiences.</p>

							<div class="row flex-items-sm-around push-80">
								<div class="col-sm-5">
									<h3 class="h3">Specialties</h3>
									<p>UX, Interaction Design, Prototyping</p>
								</div>
								<div class="col-sm-5">
									<h3 class="h3">Get In Touch</h3>
									<p><a href="mailto:heyyonji@gmail.com">heyyonji@gmail.com</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</section>

	</section>

	<section class="homepage-projects">
		<div class="container">

		</div>
	</section>

	<footer class="home-footer wow animated fadeInUpSmall">
		<p>&copy; 2016 Yonji Kim</p>
	</footer>
</main>
