---
title: Home
layout: default.hbs
bodyClass: "home"
---
<main class="wow animated fadeIn" data-wow-delay="0.2s">
	<section class="homepage-animation" id="trigger">
		<div style="height:200px;"></div>

			<div class="scroll-animation">
				<h1 class="h1 letters">
					<span class="wow animated fadeIn" data-wow-delay="0.40s"><span class="h1 letter y">Y</span></span>
			 		<span class="wow animated fadeIn" data-wow-delay="1.10s"><span class="h1 letter o">o</span></span>
					<span class="wow animated fadeIn" data-wow-delay="0.68s"><span class="h1 letter n">n</span></span>
					<span class="wow animated fadeIn" data-wow-delay="1.20s"><span class="h1 letter j">j</span></span>
					<span class="wow animated fadeIn" data-wow-delay="0.55s"><span class="h1 letter i">i</span></span>
					<span class="wow animated fadeIn" data-wow-delay="0.94s"><span class="h1 letter k">K</span></span>
					<span class="wow animated fadeIn" data-wow-delay="1.28s"><span class="h1 letter i2">i</span></span>
					<span class="wow animated fadeIn" data-wow-delay="0.85s"><span class="h1 letter m">m</span></span>
				</h1>
			</div>

			<div class="container homepage-intro">
				<div class="row flex-items-sm-around">
					<div class="col-md-12 col-lg-10 col-xl-8">
						<p class="big wow animated fadeIn">is my name, and I’m an interactive designer in New York City. Drawing on my experiences as a producer &amp; developer, I now create web &amp; mobile experiences.</p>
						<div class="row flex-items-sm-around push-60">
							<div class="col-sm-5 wow animated fadeInLeftSmall">
								<h3 class="h3">Specialties</h3>
								<p>UX, Interaction Design, Prototyping</p>
							</div>
							<div class="col-sm-5 wow animated fadeInRightSmall">
								<h3 class="h3">Get In Touch</h3>
								<p><a href="mailto:heyyonji@gmail.com">heyyonji@gmail.com</a></p>
							</div>
						</div>
					</div>
				</div>

			</div>

	</section>

	<section class="homepage-projects">
		<div class="container">
			<div class="row flex-items-sm-around">
				<div class="col-md">
					<p class="text-right"><a href="/case-study/medicrea.html"><img class="wow animated fadeInUpSmall" src="/img/home/medicrea.jpg" alt="Medicrea"></a></p>
				</div>
				<div class="col-md">
					<p class="text-left"><a href="/case-study/onego.html"><img class="wow animated fadeInDownSmall" src="/img/home/onego.jpg" alt="OneGo"></p>
				</div>
			</div>
		</div>
	</section>

	<section class="homepage-contact text-center">
		<div class="container">
			<div class="row flex-items-sm-around">
				<div class="col-md-12 col-lg-10 col-xl-8">
					<p class="big shove-60 wow animated fadeInUpSmall">For information regarding collaborations, freelance, or any other general inquiries, let’s talk!</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md wow animated fadeInUpSmall">
					<h3 class="h3">Email</h3>
					<p><a target="_blank" href="mailto:heyyonji@gmail.com">heyyonji@gmail.com</a></p>
				</div>
				<div class="col-md wow animated fadeInUpSmall" data-wow-delay="0.15s">
					<h3 class="h3">Linkedin</h3>
					<p><a target="_blank" href="http://linkedin.com/in/yonjikim">@yonjikim</a></p>
				</div>
				<div class="col-md wow animated fadeInUpSmall" data-wow-delay="0.3s">
					<h3 class="h3">Instagram</h3>
					<p><a target="_blank" href="http://instagram.com/heyyonji">@heyyonji</a></p>
				</div>
				<div class="col-md wow animated fadeInUpSmall" data-wow-delay="0.55s">
					<h3 class="h3">Twitter</h3>
					<p><a target="_blank" href="http://twitter.com/HeyYonji">@heyyonji</a></p>
				</div>
			</div>
		</div>
	</section>


	<footer class="home-footer wow animated fadeInUpSmall">
		<p>&copy; 2016 Yonji Kim</p>
	</footer>
</main>
