<div class="case-section-header">
	<h2 class="h3 polygon wow animated rotateIn">{{number}}</h2>
	<h3 class="h3 wow animated fadeInUp">{{title}}</h3>
	<p class="wow animated fadeInUp">{{content}}</p>
</div>