<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Yonji Kim Portfolio">
  <meta name="author" content="Yonji Kim">
  <meta name="keywords" content="Yonji Kim, yonji, kim, kim yonji, yonij," />
  <meta name="copyright" content="Copyright 2016 - Yonji Kim" />
  <meta name="robots" content="index, follow" />
  <meta content="Yonji Kim" property="og:site_name">
  <meta content="Yonji Kim" property="og:title">
  <meta content="http://yonjikim.com/" property="og:url">

  {{#if homepage}}
  <title>Yonji Kim</title>
  {{else}}
  <title>Yonji Kim | {{title}}</title>
  {{/if}}

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/favicon.ico?ver=2.0"/>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?ver=2.0" />

  <!-- Bootstrap Core CSS -->
  {{!--
  <link rel="stylesheet" href="/css/vendor/bootstrap/bootstrap-reboot.css">
  <link rel="stylesheet" href="/css/vendor/bootstrap/bootstrap-grid.css">
  <link rel="stylesheet" href="/js/vendor/fullpage-js/jquery.fullPage.css">
  --}}

  <!-- Custom Fonts -->
  <script src="https://use.typekit.net/amj0xxv.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

  <!-- Custom CSS -->
  <link href="/css/styles.css" rel="stylesheet">
  <script src="/js/vendor/modernizr-2.8.3.min.js"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-57537341-1', 'auto');
    ga('send', 'pageview');

  </script>
</head>

<body class="{{bodyClass}}">
<a id="top"></a>