<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Yonji Kim Portfolio</title>

  <!-- Favicon -->
  {{!-- <link rel="shortcut icon" type="image/png" href="/favicon32.ico" /> --}}

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="/css/vendor/bootstrap/bootstrap-reboot.css">
  <link rel="stylesheet" href="/css/vendor/bootstrap/bootstrap-grid.css">

  <!-- Custom Fonts -->
  <script src="https://use.typekit.net/amj0xxv.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

  <!-- Custom CSS -->
  <link href="/css/styles.css" rel="stylesheet">


 <script src="/js/vendor/modernizr-2.8.3.min.js"></script>

</head>

<body>

