{{#unless homepage}}
<!-- Navigation -->
<nav class="navigation" role="navigation">
	<span class="nav-home off-screen"><a href="/" class="">&mdash;Home&mdash;</a></span>
	<span class="nav-work off-screen"><a href="#" class="">&mdash;Work&mdash;</a></span>
</nav>

<div class="navigation-overlay">
	<div id="fullpage">
		<div class="section medicrea active">
			<h1 class="h1"><a class="animated" href="/case-study/medicrea.html">Medicrea</a></h1>
			<div class="nav-img"><img class="animated" src="/img/medicrea/nav-medicrea.jpg" alt=""></div>
		</div>
		<div class="section onego">
			<h1 class="h1"><a class="animated" href="/case-study/onego.html">OneGo </a></h1>
			<div class="nav-img"><img class="animated" src="/img/onego/nav-onego.jpg" alt=""></div>
		</div>
		<div class="section">
			<h1 class="h1"><a class="animated" href="#">Work 3</a></h1>
			<div class="nav-img"><img class="animated" src="http://placehold.it/270x350" alt=""></div>
		</div>
		<div class="section">
			<h1 class="h1"><a class="animated" href="#">Work 4</a></h1>
			<div class="nav-img"><img class="animated" src="http://placehold.it/270x350" alt=""></div>
		</div>
	</div>
</div>
{{/unless}}

<a href="#top" class="nav-multi-button js-nav-multi-button">
	<span class="line line1"></span>
	<span class="line line2"></span>
</a>

