
<!-- Navigation -->
<nav class="navigation" role="navigation">
	<a href="/" class="nav-home">&mdash;Home&mdash;</a>
	<a href="#" class="nav-work">&mdash;Work&mdash;</a>

</nav>

<div class="navigation-overlay">
	<div id="fullpage">
		<div class="section active">
			<h1 class="h1">Medicrea</h1>
		</div>
		<div class="section">
			<h1 class="h1">OneGo</h1>
		</div>
	</div>
</div>

<a href="#" class="nav-close">X</a>
