---
title: Home
layout: default.hbs
---
<div class="container">
  <h1 class="h1">MEDICREA</h1>
  <p>Ground Breaking Medical Company That Specialises in Customised Spinal Surgery</p>
  <p>Medicrea is a ground breaking medical company that sells rods customised to each patient that needs spinal surgery. I was brought on because they want to create a single full-service platform that helps surgeons plan their surgeries, order products, and conduct post-operative analysis.</p>

</div>
