// Homepage V1
.home-intro{
	background-color: #B6BAFF;
	padding:100px 0 200px;
	p{
		color:white;
		span{
			color:black;
		}
	}
	h3{
		color:white;
	}
	a{
		color:black;
	}
}
.home-intro-copy{
	max-width: 625px;
}


.home-projects{
	padding:160px 0;
	background-color: #E4FAF6;
}

.home-footer{
	padding:40px 0 35px;
	p{
		text-align: center;
		font-family: $heading-font;
		margin:0;
	}
}

//Homepage V2
body.home{
	background: #9089E5 linear-gradient(#052F5F, #9089E5 100%) 0 0 no-repeat scroll;
}
.homepage-animation{
	background: transparent url(/img/confetti.png) center top repeat-x scroll;
	position: relative;
	overflow: hidden;
}

.scroll-animation{
	min-height: 1050px;
	max-width: 930px;
	width: 100%;
	margin:0 auto;
}
.letters{
  	height: 120px;
}
.letter{
	display: block;
	position: absolute;
	color:white;
	font-size: 120px;
	line-height: 1;
	&.y{
		top:-285px;
		left:10px;
	}
	&.o{
		top:-130px;
		left:265px;
	}
	&.n{
		top:-390px;
		left:370px;
	}
	&.j{
		top:-220px;
		left:660px;
	}
	&.i{
		top:-80px;
		left:910px;
	}
	&.k{
		top:140px;
		left:80px;
	}
	&.i2{
		top:325px;
		left:365px;
	}
	&.m{
		top:360px;
		left:770px;
	}
}
.homepage-intro{
	text-align: center;
	color:white;
	p, a{
		color:white;
	}
}

.homepage-projects{
	background: transparent url(/img/confetti-bottom.png) center bottom repeat-x scroll;
	padding:100px 0;
}

.homepage-contact{
	background-color: #633BB8;
	padding:100px 0;
	color:white;
	a{
		color:white;
	}
}