.home-intro{
	min-height: 625px;
	background-color: #B6BAFF;
	padding:100px 0 200px;
	p{
		color:white;
		span{
			color:black;
		}
	}
	h3{
		color:white;
	}
	a{
		color:black;
	}
}
.home-intro-copy{
	max-width: 625px;
}


.home-projects{
	padding:160px 0;
	background-color: #E4FAF6;
}

.home-footer{
	padding:50px 0;
	text-align: center;
}