// Homepage

body.home{
	background: #9089E5;
}
.homepage-gradient{
	background: #9089E5 linear-gradient(#052F5F, #9089E5 100%) 0 0 no-repeat scroll;
}

.homepage-animation{
	background: transparent url(/img/confetti.png) center top repeat-x scroll;
	position: relative;
	overflow: hidden;
}
.animation-spacer{
	height:200px;
  	@media screen and (max-width:940px){
		height:100px;
  	}
  	@media screen and (max-width:675px){
		height:0px;
  	}
}
.scroll-animation{
	min-height: 1050px;
	max-width: 930px;
	width: 100%;
	margin:0 auto;
  	@media screen and (max-width:940px){
		max-width: 675px;
  	}
  	@media screen and (max-width:675px){
		max-width: 320px;
  	}
}
.letters{
  	height: 120px;
  	@media screen and (max-width:940px){
  		transform: scale(0.66) translateX(-130px);
  	}
  	@media screen and (max-width:675px){
  		transform: scale(0.33) translateX(-310px);

  	}
}
.letter{
	display: block;
	position: absolute;
	color:white;
	font-size: 120px;
	line-height: 1;
	&.y{
		top:-285px;
		left:10px;
	}
	&.o{
		top:-130px;
		left:265px;
	}
	&.n{
		top:-390px;
		left:370px;
	}
	&.j{
		top:-220px;
		left:660px;
	}
	&.i{
		top:-80px;
		left:910px;
	}
	&.k{
		top:140px;
		left:80px;
	}
	&.i2{
		top:325px;
		left:365px;
	}
	&.m{
		top:360px;
		left:770px;
	}
}
.homepage-intro{
	text-align: center;
	color:white;
	margin-top: 25px;
	p, a{
		color:white;
	}
}

.homepage-projects{
	background: transparent url(/img/confetti-bottom.png) center bottom repeat-x scroll;
	padding:100px 0 230px;
}
.proj{
	position: relative;
	display: inline-block;
	// border:3px solid transparent;
	img{
		transition:opacity 0.35s ease;
	}
	&:hover{
		-webkit-box-shadow:inset 0px 0px 0px 3px #fff;
    	-moz-box-shadow:inset 0px 0px 0px 3px #fff;
    	box-shadow:inset 0px 0px 0px 3px #fff;
		img{
			opacity:0;
		}
		.proj-title{
			color:white;
		}
	}
}

.proj-title{
	transition: color 0.35s ease;
	font-family: $heading-font;
	letter-spacing: 2px;
	text-align: left;
	font-size: 30px;
	color:black;
	padding:20px 35px;
	position: absolute;
	bottom:0;
	left:0;
}
.proj-type{
	font-size: 12px;
	text-transform: uppercase;
	display: block;
}
.proj-left,
.proj-right{
	text-align:center;
}
@media screen and (min-width: 544px){
	.proj-left{
		text-align:right;
	}
	.proj-right{
		text-align:left;
	}
}
.homepage-contact{
	background-color: #633BB8;
	padding:100px 0;
	color:white;
	a{
		color:white;
	}
}


.homepage-footer{
	padding:40px 0 35px;
	p{
		text-align: center;
		font-family: $heading-font;
		margin:0;
	}
}
