// Navigation
.navigation{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	padding: 15px 15px 10px 40px;
	border-bottom: 1px solid #efefef;
	z-index: 2;
	a{
		font-family: $heading-font;
		font-size: 14px;
		text-transform: uppercase;
		color:#555;
		letter-spacing: 15px;
		transition: color 0.3s ease;
		display: inline-block;
		&:hover,
		&:active,
		&:focus{
			text-decoration: none;
			color: $grey-seven;
		}
	}
	.nav-home,
	.nav-work{
		transition: all 0.3s ease;
		display: inline-block;
	}
	.nav-work{
		position: absolute;
		right:15px;
	}
	.home-icon{
		display: block;
		width:45px;
		height:34px;
		background: transparent url(/img/home-icon.png) 0 0 no-repeat scroll;
	}
	&.active{
		z-index: 2;
		border-bottom-color: transparent;
		.nav-work{
			a{
				color:white;
			}
			top:180px;
			right:0;
			width: 100%;
			text-align: center;
		}
		.nav-home{
			display: none;
		}
	}
}
@media screen and (min-width:768px){
	.navigation{
		border:none;
		.nav-home,
		.nav-work{
			position: fixed;
			top:300px;
		}
		.nav-home{
			left:0;
			&.off-screen{
				transform:translateX(-100%);
			}
			a{
				transform: rotate(-90deg);
			}
		}

		.nav-work{
			right:0;
			&.off-screen{
				transform:translateX(100%);
			}
			a{
				transform: rotate(90deg);
				transition: all 0.3s ease;
			}
		}
		&.active{
			.nav-work{
				a{
					transform: rotate(0deg) translateX(50%);
					color:white;
				}
				top:80px;
				right:50%;
				width: auto;
			}
			.nav-home{
				display: none;
			}
		}
		@media screen and (max-width:991px){
			.nav-home{
				transform:translateX(-45px);
			}
			.nav-work{
				transform:translateX(45px);
			}
		}
		@media screen and (max-width:767px){

		}
	}
}
.nav-links-padding{
	@media screen and (min-width:992px){
		padding-left: 90px;
		padding-right: 90px;
	}
	@media screen and (min-width:768px){
		padding-left:45px;
		padding-right:45px;
	}
}
.nav-multi-button{
	position: fixed;
	top:85%;
	right:30px;
	z-index: 200;
	width:47px;
	height:32px;
	display: block;
	transition: all 0.75s cubic-bezier(.86,0,.07,1) 0.3s;
	.line{
		-webkit-transition: background-color 0.25s ease-out, left 0.25s ease-out 0.65s;
		-moz-transition: background-color 0.25s ease-out, left 0.25s ease-out 0.65s;
		-o-transition: background-color 0.25s ease-out, left 0.25s ease-out 0.65s;
		transition: background-color 0.25s ease-out, left 0.25s ease-out 0.65s;
		background-color: $grey-seven;
		display: block;
		width:2px;
		height:32px;
		position: absolute;
		top:0;
		&.line1{
			transform: rotate(45deg);
			left:25%;
		}
		&.line2{
			transform: rotate(-45deg);
			left:72%;
		}
	}
	&.active {
		top:10%;
		.line{
			background-color: white;
			&.line2{
				left:25%;
			}
		}
	}
	@media screen and (max-width: 767px){
		top:85%;
		right:15px;
		&.active{
			right:0px;
			top:15px;
		}
	}
}
.navigation-overlay{
	background-color: #ddd;
	position: fixed;
	top:0;
	width:100%;
	height:100%;
	visibility: hidden;
	opacity: 0;
	z-index: 1;
	transition: all 0.5s ease;
	&.show{
		visibility: visible;
		opacity: 1;
	}
	.section{
		text-align: center;

		h1{
			font-size: 120px;
			letter-spacing: 22px;
			text-transform: uppercase;
			line-height: 1;
			a{
				display: inline-block;
				position: relative;
			   color: white;
			   padding: 115px 0;
			   z-index: 1;
			   opacity:0;
			  	-webkit-animation-duration: 0.4s;
			  	animation-duration: 0.4s;
			  	-webkit-animation-delay: 0.2s;
			  	animation-delay: 0.2s;
				.nav-item-label{
					font-family: $body-font;
					font-size: 18px;
				   display: block;
				   text-transform: initial;
				   letter-spacing: 2px;
				   margin-top: 20px;
				}
				&:hover{
					text-decoration: none;
				}
			}
			@media screen and (max-width:991px){
				font-size: 80px;
				letter-spacing: 10px;
			}
			@media screen and (max-width:767px){
				font-size: 40px;
				letter-spacing: 5px;
			}
		}
		.nav-img{
			width: 100%;
			position: absolute;
		   top: 50%;
		   left: 50%;
		   transform: translateX(-50%) translateY(-50%);
			img{
				opacity:0;
				-webkit-animation-duration: 0.3s;
			  	animation-duration: 0.3s;
			  	// -webkit-animation-delay: 0.35s;
			  	// animation-delay: 0.35s;
			}
		}
		&:nth-child(odd){
			background-color: $grey-seven;
		}
		&:nth-child(even){
			background-color: $grey-six;
		}
		&.medicrea{
			background-color: $medicrea-color-alt;
		}
		&.onego{
			background-color: $onego-color;
		}
	}
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: #fff;
}