// Navigation

.navigation{
	position: absolute;
	top:0;
	left:0;
	z-index: 2;
	a{
		font-family: $heading-font;
		font-size: 14px;
		text-transform: uppercase;
		color:black;
		letter-spacing: 15px;
		position: fixed;
		transition: color 0.3s ease;
		&:hover,
		&:active,
		&:focus{
			text-decoration: none;
			color: $grey-seven;
		}
	}

	.nav-home,
	.nav-work{
		top:300px;
	}
	.nav-home{
		left:0;
		transform: rotate(-90deg);
	}

	.nav-work{
		right:0;
		transform: rotate(90deg);
		transition: all 0.3s ease;
	}
	&.active{
		.nav-work{
			transform: rotate(0deg) translateX(50%);
			top:80px;
			right:50%;
			color:white;
		}
		.nav-home{
			display: none;
		}
	}
}
.nav-multi-button{
	position: fixed;
	top:85%;
	right:30px;
	z-index: 200;
	width:47px;
	height:32px;
	display: block;
	transition: all 0.25s ease-out 0.65s;
	.line{
		-webkit-transition: background-color 0.25s ease-out, left 0.25s ease-out 0.65s;
		-moz-transition: background-color 0.25s ease-out, left 0.25s ease-out 0.65s;
		-o-transition: background-color 0.25s ease-out, left 0.25s ease-out 0.65s;
		transition: background-color 0.25s ease-out, left 0.25s ease-out 0.65s;
		background-color: $grey-seven;
		display: block;
		width:2px;
		height:32px;
		position: absolute;
		top:0;
		&.line1{
			transform: rotate(45deg);
			left:25%;
		}
		&.line2{
			transform: rotate(-45deg);
			left:75%;
		}
	}
	&.active {
		top:10%;
		.line{
			background-color: white;
			&.line2{
				left:25%;
			}
		}
	}
}
.navigation-overlay{
	background-color: #ddd;
	position: fixed;
	top:0;
	width:100%;
	height:100%;
	opacity: 0;
	z-index: 1;
	transition: all 0.5s ease;
	&.show{
		opacity: 1;
	}
	.section{
		text-align: center;

		h1{
			font-size: 120px;
			text-transform: uppercase;
			line-height: 1;
			a{
				position: relative;
			   color: white;
			   padding: 90px 0;
			   z-index: 0;
				&:hover{
					text-decoration: none;
				}
				img{
					position: absolute;
				   left: 50%;
				   transform: translateX(-50%);
				   top: 0;
				   z-index: -1;
				}
			}
		}
		&:nth-child(odd){
			background-color: $grey-seven;
		}
		&:nth-child(even){
			background-color: $grey-six;
		}
		&.medicrea{
			background-color: $medicrea-color-alt;
		}
		&.onego{
			background-color: $onego-color;
		}
	}
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: #fff;
}