@font-face {
  font-family: "fortescue-pro";
  src: url("../fonts/fortescue/fortescue-regular-web.eot?#iefix");
  src: url("../fonts/fortescue/fortescue-regular-web.eot?#iefix") format("eot"), url("../fonts/fortescue/fortescue-regular-web.woff") format("woff"), url("../fonts/fortescue/fortescue-regular-web.woff2") format("woff2"), url("../fonts/fortescue/fortescue-regular-web.ttf") format("truetype"), url("../fonts/fortescue/fortescue-regular-web.svg") format("svg");
}

@font-face {
  font-family: "fortescue-pro-bold";
  src: url("../fonts/fortescue/fortescue-bold-web.eot?#iefix");
  src: url("../fonts/fortescue/fortescue-bold-web.eot?#iefix") format("eot"), url("../fonts/fortescue/fortescue-bold-web.woff") format("woff"), url("../fonts/fortescue/fortescue-bold-web.woff2") format("woff2"), url("../fonts/fortescue/fortescue-bold-web.ttf") format("truetype"), url("../fonts/fortescue/fortescue-bold-web.svg") format("svg");
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: "niveau-grotesk";
  color: #1d1d1b;
  font-weight: 300;
  letter-spacing: 0.4px;
}

.h1 {
  font-family: "fortescue-pro";
  font-size: 38px;
  letter-spacing: 8px;
}

.h3 {
  font-family: "fortescue-pro";
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

p {
  font-weight: 300;
}

.lead {
  font-family: "niveau-grotesk";
  font-weight: 500;
  line-height: 1.5;
  color: #1d1d1b;
}

img {
  max-width: 100%;
}

.case-content {
  max-width: 700px;
  margin: 0 auto;
}

.blue {
  background-color: #e4f4fa;
  padding: 0 0 125px;
}

#research-phase {
  padding-top: 250px;
  margin-top: -250px;
}

.research-block .case-content {
  background-color: #e4f4fa;
  position: relative;
  z-index: 1;
  padding: 30px;
  max-width: 705px;
  margin: -100px auto 0;
}

.research-block-content {
  overflow: hidden;
  padding: 0 30px;
}

.research-block-sub-content {
  color: #1d1d1b;
  margin: 50px  100px 0 0;
  padding-top: 50px;
  border-top: 1px solid #c3c3c3;
}

.research-block-sub-content p {
  margin-bottom: 40px;
}

.polygon {
  background: transparent url(/img/polygon.svg) center center no-repeat;
  padding: 15px 0;
}

.case-section-header {
  text-align: center;
  padding: 110px 0;
}

.sg-grid {
  background-color: #ececec;
  text-align: center;
  margin-bottom: 30px;
  padding: 10px 0;
}

.sub-section {
  padding: 100px 0;
  text-align: center;
}

.big {
  font-family: "fortescue-pro";
  font-size: 30px;
  line-height: 1.5;
}

.case-img {
  margin-bottom: 30px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

cite {
  font-family: "fortescue-pro";
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-style: normal;
}

ul {
  font-size: 16px;
}

.case-intro {
  padding-top: 215px;
  text-align: center;
}
